<div>
<div id="drawing">
</div>
<button ng-click="hue()">HUE</button>
<button ng-click="sepiatone()">sepiatone</button>
<button ng-click="lighten()">lighten</button>
<button ng-click="desaturate()">desaturate</button>
<button ng-click="contrast()">contrast</button>
<button ng-click="posterize()">posterize</button>
<button ng-click="invert()">invert</button>
<button ng-click="gamma1()">Gamma1</button>
<button ng-click="gamma2()">Gamma2</button>
<button ng-click="unfilter()">unfilter</button>
</div>
