<!DOCTYPE html>
<html>
    <head lang="en">

    </head>
    <body>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">FORGOT PASSWORD</h4>
            </div>
            <div class="modal-body" style="margin-left: 20px">
                <h5>A link to reset the password will be sent to the email address associated with your account</h5>
                <div class="row">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                    <br>
                    <input type="submit" class="btn btn-success"  ng-click="">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning"  ng-click="cancel()">Close</button>
            </div>
        </div>
    </body>
</html>